In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "Resources/purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
uniqueplayers=purchase_data["SN"].unique()
totalplayers=len(uniqueplayers)
totalplayers

576

In [6]:
PlayerCount=pd.DataFrame({"Total Players": [totalplayers]})
PlayerCount

   Total Players
0            576

In [7]:
UniqueItems=purchase_data["Item ID"].unique()
totalunique=len(UniqueItems)
totalunique

183

In [8]:
AveragePrice='${:,.2f}'.format(purchase_data["Price"].mean())
AveragePrice

'$3.05'

In [9]:
TotalPurchases=purchase_data["Price"].count()
TotalPurchases

780

In [10]:
TotalRevenue='${:,.2f}'.format(purchase_data["Price"].sum())
TotalRevenue

'$2,379.77'

In [11]:
PurchasingAnalysis=pd.DataFrame({"Number of Unique Items": [totalunique], "Average Purchase Price":[AveragePrice], "Total Number of Purchases": [TotalPurchases], "Total Revenue": [TotalRevenue]})

In [12]:
PurchasingAnalysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

In [13]:
purchase_data_dropped=purchase_data.drop_duplicates(["Gender", "SN"])
GenderCount=purchase_data_dropped.Gender.value_counts()
GenderCount

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
GenderCount.sum()

576

In [15]:
GenderPercentages=(GenderCount/576)*100
GenderPercentages

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [16]:
GenderDemographics=pd.DataFrame({"Total Count": GenderCount, "Percentage of Players": GenderPercentages})
GenderDemographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [17]:
grouped_gender=purchase_data.groupby(["Gender"])

In [18]:
purchasecount=grouped_gender["Purchase ID"].count()
purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [19]:
averageprice=grouped_gender["Price"].mean()
averageprice

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [20]:
totalvalue=grouped_gender["Price"].sum()

In [21]:

AveragePurchasePrice=totalvalue/GenderCount
AveragePurchasePrice

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [22]:
GenderPurchasingAnalysis=pd.DataFrame({"Purchase Count":purchasecount, "Average Purchase Price":averageprice, "Total Purchase Value":totalvalue, "Avg Total Purchase per Person": AveragePurchasePrice})
GenderPurchasingAnalysis['Average Purchase Price']  = GenderPurchasingAnalysis['Average Purchase Price'].apply("${:,.2f}".format)
GenderPurchasingAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,4.468395
Male,652,$3.02,1967.64,4.065372
Other / Non-Disclosed,15,$3.35,50.19,4.562727

In [23]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_data_agedropped=purchase_data.drop_duplicates(["Gender", "SN"])

In [24]:
purchase_data_agedropped.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [25]:
agecount=purchase_data_agedropped['Total Count'].value_counts()

In [26]:
agecount

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Total Count, dtype: int64

In [27]:
purchase_data_agedropped["Total Count"].count()

576

In [28]:
agepercentage=(agecount/576)*100

In [29]:
agedemographics=pd.DataFrame({"Total Count": agecount, "Percentage of Players": agepercentage})
agedemographics.sort_index()
# agedemographics = agedemographics.sort_values()

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

In [30]:
grouped_totalcount=purchase_data.groupby(["Total Count"])

In [31]:
agepurchasecount=grouped_totalcount["Purchase ID"].count()

In [32]:
ageaverageprice=grouped_totalcount["Price"].mean()

In [33]:
agetotalvalue=grouped_totalcount["Price"].sum()

In [34]:
AveragePurchasePriceAge=agetotalvalue/agecount
AveragePurchasePriceAge

10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
<10      4.537059
dtype: float64

In [35]:
PurchasingAnalysisAge=pd.DataFrame({"Purchase Count":agepurchasecount, "Average Purchase Price":ageaverageprice, "Total Purchase Value":agetotalvalue, "Avg Total Purchase per Person": AveragePurchasePriceAge})
PurchasingAnalysisAge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667
<10,23,3.353478,77.13,4.537059

In [36]:
grouped_sn=purchase_data.groupby(["SN"])

In [37]:
snpurchasecount=grouped_sn["Purchase ID"].count()

In [38]:
snaverageprice=grouped_sn["Price"].mean()

In [39]:
sntotalvalue=grouped_sn["Price"].sum()

In [40]:
TopSpenders=pd.DataFrame({"Purchase Count":snpurchasecount, "Average Purchase Price":snaverageprice, "Total Purchase Value":sntotalvalue})

In [41]:
TopSpendersDescending = TopSpenders.sort_values("Total Purchase Value", ascending=False)
TopSpendersDescending.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [42]:
new_data=purchase_data[["Item ID", "Item Name", "Price"]]

In [43]:
grouped_item=purchase_data.groupby(["Item ID", "Item Name"])

In [44]:
itempurchasecount=grouped_item["Purchase ID"].count()

In [45]:
itemtotalvalue=grouped_item["Price"].sum()

In [46]:
MostPopular=pd.DataFrame({"Purchase Count":itempurchasecount, "Total Purchase Value":itemtotalvalue})
MostPopularDescending = MostPopular.sort_values("Purchase Count", ascending=False)
MostPopularDescending.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
82,Nirvana,9,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16

In [49]:
MostProfitableDescending=MostPopular.sort_values("Total Purchase Value", ascending=False)
MostProfitableDescending.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
92,Final Critic,8,39.04
103,Singed Scalpel,8,34.80