In [1]:
import pandas as pd
import numpy as np

In [2]:
Budget="Budget_Data.csv"

In [3]:
Budget2=pd.read_csv(Budget)

In [4]:
TotalMonths=Budget2["Date"].count()

In [5]:
TotalMonths

86

In [6]:
NetAmount=Budget2["Profit/Losses"].sum()

In [7]:
NetAmount

38382578

In [8]:
listpl=list(Budget2["Profit/Losses"])
listpl


S=pd.Series([867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099])

In [9]:
diff=S.diff()
pd.set_option('display.max_rows', 86)
diff

0           NaN
1      116771.0
2     -662642.0
3     -391430.0
4      379920.0
5      212354.0
6      510239.0
7     -428211.0
8     -821271.0
9      693918.0
10     416278.0
11    -974163.0
12     860159.0
13   -1115009.0
14    1033048.0
15      95318.0
16    -308093.0
17      99052.0
18    -521393.0
19     605450.0
20     231727.0
21     -65187.0
22    -702716.0
23     177975.0
24   -1065544.0
25    1926159.0
26    -917805.0
27     898730.0
28    -334262.0
29    -246499.0
30     -64055.0
31   -1529236.0
32    1497596.0
33     304914.0
34    -635801.0
35     398319.0
36    -183161.0
37     -37864.0
38    -253689.0
39     403655.0
40      94168.0
41     306877.0
42     -83000.0
43     210462.0
44   -2196167.0
45    1465222.0
46    -956983.0
47    1838447.0
48    -468003.0
49     -64602.0
50     206242.0
51    -242155.0
52    -449079.0
53     315198.0
54     241099.0
55     111540.0
56     365942.0
57    -219310.0
58    -368665.0
59     409837.0
60     151210.0
61    -110244.0
62    -341938.0
63   -1212159.0
64     683246.0
65     -70825.0
66     335594.0
67     417334.0
68    -272194.0
69    -236462.0
70     657432.0
71    -211262.0
72    -128237.0
73   -1750387.0
74     925441.0
75     932089.0
76    -311434.0
77     267252.0
78   -1876758.0
79    1733696.0
80     198551.0
81    -665765.0
82     693229.0
83    -734926.0
84      77242.0
85     532869.0
dtype: float64

In [10]:
averagediff=diff.mean()
averagediff

-2315.1176470588234

In [11]:
maxpl=diff.max()
maxpl

1926159.0

In [12]:
minpl=diff.min()
minpl

-2196167.0

In [15]:
listd=list(Budget2["Date"])
listd
maxdate=listd[25]
maxdate

'Feb-2012'

In [16]:
mindate=listd[44]
mindate

'Sep-2013'

In [55]:
print("Total Months:", TotalMonths, "\n", "Total:", NetAmount, "\n", "Average Change:", averagediff, "\n", "Greatest Increase in Profits:", maxdate, "(", "$", maxpl, ")", "\n", "Greatest Decrease in Profits:", mindate, "(", "$", minpl, ")")

Total Months: 86
 Total: 38382578
 Average Change: -2315.1176470588234
 Greatest Increase in Profits: Feb-2012 ( $ 1926159.0 )
 Greatest Decrease in Profits: Sep-2013 ( $ -2196167.0 )